
<form action="/travels/<%= travel._id %>" method="POST">
  <label for="place">Place</label>
  <input type="text" id="place" name="place" value="<%= travel.place %>">

  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="<%= travel.title %>">

  <label for="date">Date</label>
  <input type="date" name="date" id="date" value="<%= travel.date %>">

  <label for="image-url">Picture</label>
  <input type="text" name="imageUrl" id="image-url" value="<%= travel.imageUrl %>">

  <label for="description">Description</label>
  <input type="text" name="description" id="description" value="<%= travel.description %>"></input>
 /* textarea (al poner textarea, no se guardaba lo anteriormente escrito, con input si, preguntar Thor) */

  <button type="submit">Create Memory</button>
</form>