<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= travel.place %></h1>
        <h3>" <%= travel.title %> "</h3>
        <img src="<%= travel.imageUrl %>">
        <p><%= travel.date %></p>
        <p><%= travel.description %></p>

        <form action="/travels/<%= travel._id %>/edit">
            <button type="submit">Edit Trip</button>
        </form>

        <form action="/travels/<%= travel._id %>/delete" method="POST">
            <button type="submit" class="btn btn-primary">Delete Trip</button>
        </form>

    </body>
</html>